/* activity */
.activity-event {
    margin-bottom: 15px;
    padding: 10px;
}

.activity-event:hover {
    background: #fafafa;
}

.activity-date {
    margin-left: 10px;
    font-weight: normal;
    color: #999;
    font-size: 0.8em;
}

.activity-content {
    margin-left: 55px;
}

.activity-title {
    font-weight: bold;
    color: #000;
    border-bottom: 1px dotted #efefef;
}

.activity-description {
    font-size: 0.95em;
    color: #555;
    margin-top: 10px;
}

.activity-description li {
    list-style-type: circle;
}

.activity-description ul {
    margin-top: 10px;
    margin-left: 20px;
}
