/* activity */
.activity-event {
    margin-bottom: 10px;
}

.activity-event a {
    text-decoration: none;
}

.activity-datetime {
    color: #555;
    font-size: 0.9em;
    line-height: inherit;
    margin-top: 0.05em;
    float: right;
    padding-left: 1ex;
}

.activity-content {
    margin-top: 10px;
    margin-left: 37px;
    border: 1px solid #bbb;
    border-radius: 2px;
}

.no-avatars .activity-content {
    margin-left: 0;
}

.activity-content .avatar {
    margin-left: -37px;
    border-radius: 2px;
}

.activity-title {
    color: #000;
    font-size: 0.9em;
    padding: 6px 5px;
    background-color: #f5f5f5;
    min-height: 20px;
}

.activity-title strong {
    color: #333;
}

.activity-title .fa {
    color: #555;
}
    
.activity-description {
    font-size: 0.9em;
    color: #555;
    padding: 6px 5px;
    border-top: 1px solid #bbb;
}

.activity-description ul {
    margin-top: 10px;
}

.activity-description li {
    margin-left: 40px;
    list-style-type: circle;
    color: #555;
}

.activity-description .markdown {
    margin-top: 10px;
    color: #555;
}

.activity-description ul {
    margin: 0;
}

.activity-description ul li {
    margin-left: 20px;
}
