/* alerts */
.alert {
    padding: 8px 35px 8px 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #c09853;
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    border-radius: 4px;
}

.alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.alert-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-normal {
    color: #333;
    background-color: #f0f0f0;
    border-color: #ddd;
}

.alert ul {
    margin-top: 10px;
    margin-bottom: 10px;
}

.alert li {
    margin-left: 25px;
}

.alert-fade-out {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 20%;
    width: 60%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
    border-width: 1px 0 0;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    z-index: 9999;
}
