.avatar img {
    vertical-align: bottom
}

.avatar-left {
    float: left;
    margin-right: 10px
}

.avatar-inline {
    display: inline-block;
    margin-right: 3px
}

.avatar-48 img,
.avatar-48 div {
    border-radius: 30px
}

.avatar-48 .avatar-letter {
    line-height: 48px;
    width: 48px;
    font-size: 25px
}

.avatar-20 img,
.avatar-20 div {
    border-radius: 10px
}

.avatar-20 .avatar-letter {
    line-height: 20px;
    width: 20px;
    font-size: 11px
}

.avatar-letter {
    color: var(--avatar-color-letter);
    text-align: center
}
