/* reset */
li,
ul,
ol,
table,
tr,
td,
th,
p,
blockquote,
body {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

body {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 20px;
    color: #333;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
}

.page {
    clear: both;
}

ul.no-bullet li {
    list-style-type: none;
    margin-left: 0;
}

.pull-right {
    text-align: right;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.chosen-select {
    min-height: 27px; /* Reserve some space to avoid re-layout due to chosen */
}

.avatar {
    float: left;
    margin-right: 10px;
}

#ui-datepicker-div {
    font-size: 0.8em;
}

#app-loading-icon {
    position: fixed;
    right: 3px;
    bottom: 3px;
}

.web-notification-icon {
    color: #3366CC;
}

.web-notification-icon:focus,
.web-notification-icon:hover {
    color: #000;
}

