/* buttons */
.btn {
    font-size: 1.1em;
    font-weight: normal;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    color: #333;
    background: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 3px 10px;
    margin: 0;
}

a.btn {
    text-decoration: none;
}

.btn:hover {
    border: 1px solid #bbb;
    color: #000;
    background: #fafafa;
}

.btn-red {
    border-color: #b0281a;;
    background: #d14836;
    color: #fff;
}

.btn-red:hover,
.btn-red:focus {
    color: #fff;
    background: #c53727;
}

.btn-blue {
    border-color: #3079ed;
    background: #4d90fe;
    color: #fff;
}

.btn-blue:hover,
.btn-blue:focus {
    border-color: #2f5bb7;
    background: #357ae8;
    color: #fff;
}

.btn:disabled {
    color: #ccc;
    border: 1px solid #ccc;
    background: #f7f7f7;
}

.buttons-header {
    font-size: 0.9em;
    margin-bottom: 15px;
}
