.color-picker {
    width: 220px
}

.color-picker-option {
    height: 25px
}

.color-picker-square {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    border: 1px solid #000
}

.color-picker-label {
    display: inline-block;
    vertical-align: bottom;
    padding-bottom: 3px
}
