/* comments */
.comment {
    margin-top: 10px;
    margin-left: 37px;
    border: 1px solid #bbb;
    border-radius: 2px;
}

.comment:hover {
    background: #F7F8E0;
}

.comment .avatar {
    margin-left: -37px;
}

.comment-inner {
    padding: 10px 5px 5px;
    border-top: 1px solid #bbb;
}

.comment-preview {
    border: 2px solid #000;
    border-radius: 3px;
    padding: 10px;
}

.comment-preview .comment-inner {
    border: none;
    padding: 0;
    margin: 0;
}

.comment-title {
    color: #000;
    font-size: 0.9em;
    padding: 6px 5px;
    background-color: #f5f5f5;
    min-height: 20px;
}

.ui-tooltip .comment-title {
    font-size: 80%;
}

.ui-tooltip .comment-inner {
    padding-bottom: 0;
}

.comment-actions {
    padding: 0;
    text-align: right;
    float: right;
}

.comment-actions li {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px dotted #000;
}

.comment-actions li:last-child {
    padding-right: 0;
    border: 0;
}

.comment-username {
    font-weight: bold;
}

.comment-textarea {
    height: 200px;
    width: 80%;
    max-width: 800px;
}

.comment-sorting {
    font-size: 0.5em;
}

span.comment-sorting a {
    color: #555;
    font-weight: normal;
    text-decoration: none;
}

span.comment-sorting a:hover {
    color: #aaa;
}

#comments .comment-textarea {
    height: 80px;
    width: 500px;
}
