.comment-sorting {
    text-align: right
}

.comment-sorting a {
    color: var(--color-medium);
    font-weight: normal;
    text-decoration: none
}

.comment-sorting a:hover {
    color: var(--color-light);
}

.comment {
    padding: 5px;
    margin-bottom: 15px
}

.comment-title {
    border-bottom: 1px dotted var(--comment-title-border-color);
    margin-left: 55px
}

.comment-date {
    color: var(--color-light);
    font-weight: 200
}

.comment-visibility {
    color: var(--color-light);
    font-weight: 200
}

.comment-actions {
    text-align: right
}

.comment-content {
    margin-left: 55px
}

.comments .text-editor textarea {
    height: 90px
}

.comments .text-editor .text-editor-preview-area {
    height: 90px
}

.comments .comment-highlighted {
    background-color: var(--comment-highlighted-background-color);
    border: 2px solid var(--comment-highlighted-border-color);
}

.comments .comment-highlighted:hover {
    background-color: var(--comment-highlighted-hover-background-color)
}

.comments .comment:hover {
    background: var(--comment-highlighted-hover-background-color)
}

.comments .comment:nth-child(even):not(.comment-highlighted) {
    background: var(--comment-nth-background-color);
}

.comments .comment:nth-child(even):not(.comment-highlighted):hover {
    background: var(--comment-highlighted-hover-background-color)
}
