.dropdown {
    display: inline;
    position: relative;
}

.dropdown ul {
    display: none;
}

ul.dropdown-submenu-open {
    display: block;
    position: absolute;
    z-index: 1000;
    min-width: 285px;
    list-style: none;
    margin: 3px 0 0 1px;
    padding: 6px 0;
    background-color: #fff;
    border: 1px solid #b2b2b2;
    border-radius: 3px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
}

.dropdown-submenu-open li {
    display: block;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 33px;
    font-size: 0.85em;
    border-bottom: 1px solid #f8f8f8;
}

.dropdown-submenu-open li:last-child {
    border: none;
}

.page-header .dropdown {
    padding-right: 10px;
}
