.project-header {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

.filter-box {
    display: inline-block;
    vertical-align: top;
}

.project-header .filter-box {
    margin: 0;
}

.filter-box form {
    margin: 0;
}

.filter-box input[type="text"] {
    margin: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    vertical-align: top;
    border: 1px solid #ddd;
    padding: 3px 8px;
    height: auto;
    float:left;
}

.filter-box input[type="text"]:focus {
    color: #000;
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
}

.filter-box div.dropdown {
    display: inline-block;
    margin: 0;
    padding: 0;
    float:left;
}

.filter-box div.dropdown a.dropdown-menu {
    border-radius: 0;
}

.filter-box div.dropdown:last-child a {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
