/* project header */
.project-header {
    margin-top: 8px;
    margin-bottom: 20px;
}

.action-menu {
    color: #333;
    text-decoration: none;
}

.action-menu:hover,
.action-menu:focus {
    text-decoration: underline;
}

/* search box */
.filter-box {
    display: inline-block;
    position: relative;
    font-size: 0;
    margin-bottom: 20px;
}

.project-header .filter-box {
    margin: 0;
}

.filter-box form {
    margin: 0;
}

.filter-box input[type="text"] {
    margin: 0;
    font-size: 16px;
    height: 26px;
    border-color: #ddd;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    vertical-align: top;
}

.filter-box input[type="text"]:focus {
    color: #000;
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
}

.filter-box div.dropdown {
    background: #fafafa;
    display: inline-block;
    font-size: 16px;
    border: 1px solid #ddd;
    border-left: none;
    margin: 0;
    padding: 0;
    padding-left: 5px;
    padding-right: 8px;
    height: 27px;
}

.filter-box div.dropdown:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.filter-box div.dropdown a {
    line-height: 27px;
}
