header {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #dedede;
    background-color: #fbfbfb
}

header .title-container {
    flex: 1;
    min-width: 300px
}

@media (max-width: 480px) {
    header .title-container {
        order: 3
    }
}

header .board-selector-container {
    min-width: 320px;
    display: flex;
    align-items: center
}

@media (max-width: 480px) {
    header .board-selector-container {
        order: 2;
        min-width: 300px
    }
    header .board-selector-container input[type=text] {
        max-width: 280px
    }
}

header .menus-container {
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-end
}

@media (max-width: 480px) {
    header .menus-container {
        order: 1;
        margin-bottom: 5px;
        margin-left: auto
    }
}

header h1 {
    font-size: 1.5em
}

header h1 .tooltip {
    opacity: 0.3;
    font-size: 0.7em
}

a i.web-notification-icon {
    color: var(--link-color-primary);
}

a i.web-notification-icon:focus,
a i.web-notification-icon:hover {
    color: #000
}
