.list-item-links,
.list-item-actions {
    display: inline-block;
    float: inline-start;
    margin-inline-start: 10px
}

.list-item-links a {
    margin: 0
}

.list-item-action-hidden {
    display: none
}
