#modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    overflow: auto;
    z-index: 100
}

#modal-box {
    position: fixed;
    max-height: calc(100% - 30px);
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    overflow: auto;
    border-radius: 5px
}

#modal-content {
    padding: 0 5px 5px
}

#modal-header {
    text-align: right;
    padding-right: 5px
}

#modal-close-button {
    color: var(--color-primary);
}

#modal-close-button:hover {
    color: var(--color-error);
}
