.pagination {
    text-align: center;
    font-size: 0.9em
}

.pagination-showing {
    margin-inline-end: 5px;
    padding-inline-end: 5px;
    border-inline-end: 1px solid #999
}

.pagination-next {
    margin-inline-start: 5px
}

.pagination-previous {
    margin-inline-end: 5px
}
