.pagination {
    text-align: center;
    font-size: 0.9em
}

.pagination-showing {
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid #999
}

.pagination-next {
    margin-left: 5px
}

.pagination-previous {
    margin-right: 5px
}
