.js-project-creation-options {
    max-width: 500px;
    border-inline-start: 3px dotted #efefef;
    margin-top: 20px;
    padding-inline-start: 15px;
    padding-bottom: 5px;
    padding-top: 5px
  }
  
  .project-overview-columns {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 1.4em
  }
  
  @media (max-width: 480px) {
    .project-overview-columns {
        display: block
    }
  }
  
  .project-overview-column {
    text-align: center;
    margin-inline-end: 3%;
    margin-top: 5px;
    padding: 3px 15px 3px 15px;
    border: 1px dashed #ddd
  }
  
  @media (max-width: 480px) {
    .project-overview-column {
        text-align: start
    }
  }
  
  .project-overview-column small {
    color: var(--color-light);
  }
  
  .project-overview-column strong {
    color: var(--color-medium);
    display: block
  }
  
  @media (max-width: 480px) {
    .project-overview-column strong {
        display: inline
    }
  }
  
  .project-header {
    margin-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }
  
  .project-header .dropdown-component {
    margin-inline-end: 5px;
  }
  
  @media (max-width: 768px) {
    .project-header .dropdown-component {
        float: none
    }
  }
  
  .project-header .filter-box-component {
    flex-grow: 1;
  }
  
  .project-header .filter-box-component form {
    margin: 0
  }
  