.project-creation-options {
    max-width: 500px;
    border-left: 3px dotted #efefef;
    margin-top: 20px;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.project-overview-columns {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    -webkit-align-items: center;
    align-items: center;

    -webkit-justify-content: center;
    justify-content: center;

    margin-bottom: 20px;
    font-size: 1.4em;
}

.project-overview-column {
    text-align: center;
    margin-right: 80px;
    padding: 3px 15px 3px 15px;
    border: 1px dashed #ddd;
    border-radius: 8px;
}

.project-overview-column strong {
    font-size: 1.3em;
    color: #444;
}

.project-overview-column span {
    font-size: 0.8em;
    color: #777;
}
