/* task listing table */
.task-table .dropdown-menu {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.task-table .dropdown-menu:focus,
.task-table .dropdown-menu:hover {
    text-decoration: underline;
}

td.task-table a {
    color: #000;
    text-decoration: none;
}

td.task-table a:hover {
    text-decoration: underline;
}

/* task inside the board */
.task-board {
    position: relative;
    margin-bottom: 4px;
    border: 1px solid #000;
    padding: 2px;
    font-size: 0.85em;
    word-wrap: break-word;
}

div.task-board-recent {
    border-width: 2px;
}

div.task-board-status-closed {
    user-select: none;
    border: 1px dotted #555;
}

.task-board a {
    color: #000;
    text-decoration: none;
}

.task-board .dropdown-menu {
    font-weight: bold;
}

.task-board-collapsed {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* title one the card */
.task-board-title {
    font-size: 1.15em;
    margin-top: 5px;
    margin-bottom: 8px;
}

.task-board-title a:hover {
    text-decoration: underline;
}

/* category label */
.task-board-category-container {
    text-align: right;
    margin-top: 8px;
    margin-bottom: 8px;
}

.task-board-category {
    font-weight: 500;
    color: #000;
    border: 1px solid #555;
    padding: 1px 2px 1px 2px;
    border-radius: 4px;
}

.task-board-category:hover {
    opacity: 0.6;
}

/* avatars on the card */
.task-board-avatars {
    text-align: right;
    float: right;
}

.task-board-change-assignee:hover {
    opacity: 0.6;
}

.task-board-change-assignee {
    cursor: pointer;
}

/* task icons footer */
.task-board-icons {
    text-align: right;
    margin-top: 4px;
    margin-bottom: 2px;
}

.task-board-icons a {
    opacity: 0.5;
}

.task-board-icons span {
    opacity: 0.5;
    margin-left: 2px;
}

.task-board-icons a:hover,
.task-board-icons span:hover {
    opacity: 1.0;
}

.task-board-date {
    font-weight: bold;
    color: #000;
}

span.task-board-date-overdue {
    color: #D90000;
    opacity: 1.0;
}

/* task score */
.task-board .task-score {
    font-weight: bold;
}

/* task age */
.task-board-age {
    display: inline-block;
    font-size: 0.9em;
}

span.task-board-age-total {
    border: #666 1px solid;
    padding: 1px 3px 1px 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

span.task-board-age-column {
    border: #666 1px solid;
    border-left: none;
    margin-left: -5px;
    padding: 1px 3px 1px 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* task summary */
#task-summary {
    margin-bottom: 15px;
}

#task-summary h2 {
    color: #666;
    font-size: 2.5em;
    margin-top: 0;
    padding-top: 0;
}

.task-summary-buttons {
    margin-top: 10px;
    font-size: 0.85em;
}

.task-summary-container {
    border: 2px solid #000;
    border-radius: 8px;
    padding: 15px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.task-summary-column {
    font-size: 0.9em;
    color: #666;
}

.task-summary-column span {
    color: #555;
}

.task-summary-column li {
    line-height: 23px;
}

.task-show-title {
    border: 2px solid #000;
    border-radius: 8px;
    margin-bottom: 20px;
}

.task-show-title h2 {
    color: #555;
    font-size: 1.8em;
    margin: 0;
    padding: 8px;
}

.task-link-closed {
    text-decoration: line-through;
}

.flag-milestone {
    color: green;
}

/* color picker */
.color-picker {
    min-height: 35px;
}

.color-square {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid #000;
    cursor: pointer;
}

.color-square:hover {
    border-style: dotted;
}

div.color-square-selected {
    border-width: 2px;
    width: 28px;
    height: 28px;
    box-shadow: 3px 2px 10px 0 rgba(180,180,180,0.9);
}

/* Assign to me */
.assign-me {
    font-size: 0.8em;
    vertical-align: bottom;
}
