.task-board-category-container {
    text-align: end;
    margin-top: 8px;
    margin-bottom: 8px
}

.task-board-category {
    border: 1px solid #555;
    font-size: 0.9em;
    font-weight: 500;
    color: #000;
    padding-block-start: 1px;
    padding-block-end: 1px;
    padding-inline-start: 2px;
    padding-inline-end: 3px;
    border-radius: 3px
}

.task-board-category a:hover {
    text-decoration: underline
}
