.task-tags li {
    display: inline-block;
    margin-block-start: 3px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 3px;
    padding: 1px 3px 1px 3px;
    color: var(--color-primary);
    border: 1px solid #333;
    border-radius: 4px;
    unicode-bidi: plaintext;
}
