h1,
h2,
h3 {
    font-weight: normal;
    color: var(--color-primary);
}

h1 {
    font-size: 1.5em
}

h2 {
    font-size: 1.4em;
    margin-bottom: 10px
}

h3 {
    margin-top: 10px;
    font-size: 1.2em
}
