.views {
    display: flex;
    margin-inline-end: 10px;
    font-size: 0.9em
  }
  
  @media (max-width: 560px) {
    .views {
        width: 100%
    }
  }
  
  @media (max-width: 768px) {
    .views {
        font-size: 1em
    }
  }
  
  .views li {
    white-space: nowrap;
    background: #fafafa;
    border: 1px solid #ddd;
    border-inline-end: none;
    padding: 4px 8px;
    display: inline
  }
  
  @media (max-width: 560px) {
    .views li {
        display: block;
        border-radius: 5px;
        border: 1px solid #ddd
    }
  }
  
  .views li.active a {
    font-weight: bold;
    color: #000;
    text-decoration: none
  }
  
  .views li:first-child {
    border-start-start-radius: 5px;
    border-end-start-radius: 5px
  }
  
  .views li:last-child {
    border-inline-end: 1px solid #ddd;
    border-start-end-radius: 5px;
    border-end-end-radius: 5px
  }
  
  .views a {
    color: var(--color-medium);
    text-decoration: none
  }
  
  .views a:hover {
    color: var(--color-primary);
    text-decoration: underline
  }
  