.views {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 0.9em;
}

.views li {
    background: #fafafa;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline;
}

.views a {
    color: #555;
    text-decoration: none;
}

.views a:hover {
    color: #333;
    text-decoration: underline;
}

.menu-inline li.active a,
.views li.active a {
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.views li:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.views li:last-child {
    border-right: 1px solid #ddd;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
