.views {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 0.9em;
}

.views li {
    border: 1px solid #eee;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline;
}

.menu-inline li.active a,
.views li.active a {
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.views li:first-child {
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.views li:last-child {
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
