.views {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: top;
}

.menu-inline li.active a {
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.views li {
    display: inline-block;
    float: left;
    
}
