.git
.git*
.dockerignore
.vagrant
.idea
.DS_Store
.htaccess
*.lock
*.md
*.js
*.sh
.*.yml
*.yml
data/*
plugins/*
tests
ChangeLog
composer.json
Dockerfile
Makefile
package.json
Vagrantfile
web.config
node_modules
assets/sass
assets/vendor