.git
.git*
.dockerignore
.vagrant
.idea
.DS_Store
.htaccess
.vscode
*.lock
*.md
*.js
*.sh
.*.yml
*.yml
data/*
plugins/*
tests
ChangeLog
composer.json
custom-hooks
Dockerfile
Makefile
Vagrantfile
web.config
assets/css/src
assets/vendor