app/constants.php export-subst

.gitattributes export-ignore
.gitignore export-ignore

.docker export-ignore
.scrutinizer.yml export-ignore
.travis.yml export-ignore
Dockerfile export-ignore
docker-compose.yml export-ignore
Makefile export-ignore
README.md export-ignore
Vagrantfile export-ignore
issue_template.md export-ignore
data/*.sqlite export-ignore
tests export-ignore
