app/constants.php export-subst

.github export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.dockerignore export-ignore

docker export-ignore
Dockerfile export-ignore
Dockerfile.* export-ignore
docker-compose.yml export-ignore
Makefile export-ignore
README.md export-ignore
Vagrantfile export-ignore
data/*.sqlite export-ignore
tests export-ignore
CONTRIBUTING export-ignore
app.json export-ignore
composer.json export-ignore
composer.lock export-ignore

assets/css/src export-ignore
assets/js/components export-ignore
assets/js/core export-ignore
assets/js/polyfills export-ignore
assets/js/src export-ignore
assets/vendor export-ignore
