*.sqlite
*.sqlite-journal
.buildpath
.project
/.settings/
.idea
/nbproject/
.DS_Store
ehthumbs.db
Icon?
Thumbs.db
*.swp
.*.swp
*~
*.out
*.log
.vagrant
config.php
data/files
data/cache
*.bak
!docker/kanboard/config.php
node_modules
bower_components
