*.sqlite
*.sqlite-journal
.buildpath
.project
/.settings/
.idea
.DS_Store
ehthumbs.db
Icon?
Thumbs.db
*.swp
.*.swp
*~
*.out
*.log
.composer.lock
.vagrant
config.php
data/files
data/cache
/vendor
/nbproject/
*.bak
