<IfModule mod_rewrite.c>
    Options -MultiViews

    SetEnv HTTP_MOD_REWRITE On

    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>

<FilesMatch "(kanboard|config.php|config.default.php)">
    Deny from all
</FilesMatch>
