<IfModule mod_rewrite.c>
    Options -MultiViews

    SetEnv HTTP_MOD_REWRITE On

    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
    
    ############################
    ## Uncomment the two lines below to enable force HTTPS capabilities
    ############################
    
    # RewriteCond %{HTTPS} !=on 
    # RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]
    
    ###########################
    ## Notes:
    ## The first directive will check to make sure the connection is not already HTTPS
    ##
    ## The second directive will redirect users from their original location, to the same location but using HTTPS.
    ## i.e.  http://www.example.com/foo/ to https://www.example.com/foo/
    ## The leading slash is made optional so that this will work either in httpd.conf
    ## or .htaccess context
    ############################    
</IfModule>
