@import variables
@import mixins

.page-header
  margin-bottom: 20px
  .dropdown
    padding-right: 10px
  h2
    margin: 0
    padding: 0
    font-weight: bold
    border-bottom: 1px dotted #ccc
    a
      color: color('primary')
      text-decoration: none
      &:focus, &:hover
        color: color('light')
  ul
    text-align: left
    margin-top: 5px
    display: inline-block
  li
    display: inline
    padding-right: 15px

    @include xs-device
      display: block
      line-height: 1.5em

    &.active a
      color: color('primary')
      text-decoration: none
      font-weight: bold
      &:hover, &:focus
        text-decoration: underline

.menu-inline
  margin-bottom: 5px
  li
    display: inline
    padding-right: 15px
    .active a
      font-weight: bold
      color: color('dark')
      text-decoration: none
