@import variables

.task-board
  position: relative
  margin-bottom: 4px
  border: 1px solid #000
  padding: 2px
  word-wrap: break-word
  font-size: size('compact')
  border-radius: 6px

div
  &.task-board-recent
    border-width: 2px
  &.task-board-status-closed
    user-select: none
    border: 1px dotted #555

.task-board
  a
    color: color('dark')
    text-decoration: none

.task-board-collapsed
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

.task-board-title
  margin-top: 5px
  margin-bottom: 8px
  a:hover
    text-decoration: underline
