@import variables

.task-board-icons
  font-size: size('small')
  margin-top: 7px
  text-align: right
  a
    opacity: 0.5
  span
    opacity: 0.5
    margin-left: 4px
  a:hover, span:hover
    opacity: 1.0
  .task-board-icons-row
    line-height: 22px
  .task-score
    font-weight: 500

.flag-milestone
  color: green
