/* listing block */
.listing {
    border-radius: 4px;
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    color: #333;
    background-color: #fefefe;
}

.listing li {
    list-style-type: square;
    margin-left: 20px;
    margin-bottom: 3px;
}

.listing ul {
    margin-top: 15px;
    margin-bottom: 15px;
}