/* responsive design */
@media only screen and (max-width: 1024px) {

    li.hide-tablet,
    .hide-tablet {
        display: none;
    }

    body {
        font-size: 0.85em;
    }

    .form-tab {
        max-width: 404px;
    }

    .form-inline-group input[type="submit"],
    .form-inline-group label {
        display: block;
    }

    .form-inline-group input[type="submit"] {
        margin-top: 20px;
    }
}
