/* sidebar */
.sidebar-container {
    margin-top: 30px;
    position: relative;
}

.sidebar-content {
    margin-left: 280px;
}

.sidebar {
    position: absolute;
    left: 0px;
    top: 0;
    max-width: 250px;
    min-width: 200px;
    padding: 10px;
    padding-top: 0;
    border: 1px solid #ddd;
    background: #fdfdfd;
    border-radius: 5px;
}

.sidebar li {
    list-style-type: square;
    margin-left: 30px;
    line-height: 1.8em;
}